
<div class="row row-cols-1 row-cols-md-3 g-4">
  <% @planners.each do |planner| %>
    <div class="col">
      <div class="card h-100">
        <%= link_to planner_path(planner), class: 'text-decoration-none text-dark' do %>
          <div class="card-img-top" style="height: 120px; background-color: #e9ecef;"></div>
          <div class="card-body text-center">
            <div class="d-flex flex-column mb-2">
              <span class="text-muted">
                <%= l planner.start_date, format: :default if planner.start_date.present? %>
              </span>
              <span class="text-muted">~</span>
              <span class="text-muted">
                <%= l planner.end_date, format: :default if planner.end_date.present? %>
              </span>
            </div>
            <h5 class="card-title"><%= planner.title %></h5>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
