<p style="color: green"><%= notice %></p>
<div class="container pt-3">
  <div class="sectionMain">
    <div class="col-12">
      <div class="add-plannner button-group">
        <%= link_to 'しおり作成', new_planner_path, class: 'btn btn-danger rounded-pill' %>
      </div>
      <div class="planList">
          <%= render 'planner' %> 
      </div>
    </div>
  </div>
</div>