<% content_for :title, "Editing schedule" %>

<h1>Editing schedule</h1>

<%= render "form", schedule: @schedule %>

<br>

<div>
  <%= link_to "Back to schedules", planner_schedules_path(planner_id: @planner.id) %>
</div>
