<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="border rounded p-3 shadow" style="width: 400px;">
    <% content_for :title, t("views.schedules.edit") %>

    <h1><%= t('views.schedules.edit') %></h1>

    <%= render "form", schedule: @schedule %>

    <div class="mt-3">
      <%= link_to "Back to schedules", planner_schedules_path(planner_id: @planner.id) %>
    </div>
  </div>
</div>