<p style="color: green"><%= notice %></p>

<% content_for :title, "Schedules" %>

<h1>Schedules</h1>

<%= link_to "スケジュール作成", new_planner_schedule_path(planner_id: @planner.id), class: "btn border-danger rounded-pill m-3"%>
<div id="schedules">
  <% @planner.schedules.each do |schedule| %>
    <%= render schedule%>
    
  <% end %>
</div>