<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="border rounded p-3 shadow" style="width: 400px;">
    <% content_for :title, "New schedule" %>

    <h1 class="h4 my-5 text-center">New schedule</h1>

    <%= render "form", schedule: @schedule %>
  </div>
</div>