<div class="session text-center bg-opacity-10 m-5">
  <div class="registrations"><%= link_to t('devise.shared.links.sign_up'), new_user_registration_path, class:'m-auto fs-4 fw-bold btn rounded-pill border-dark m-3' %>
  </div>
  <div class="sessions mt-4">
    <%= link_to t('devise.shared.links.sign_in'), new_user_session_path, class:' m-auto fs-4 fw-bold btn rounded-pill border-dark m-3' %>
  </div>
</div>