<div class='ms-auto'>
<% bookmark = current_user.bookmarks.find_by(bookmarkable: bookmarkable) %>
<%= turbo_frame_tag dom_id(bookmarkable) do %>
  <% if bookmark %>
    <%= button_to 'ブックマーク解除', bookmark_path(bookmark), method: :delete, data: { turbo_frame: dom_id(bookmarkable) } %>
  <% else %>
    <%= button_to 'ブックマーク', bookmarks_path(bookmarkable_type: bookmarkable.class.name, bookmarkable_id: bookmarkable.id), method: :post, data: { turbo_frame: dom_id(bookmarkable) } %>
  <% end %>
<% end %>
</div>



