<div class='ms-auto'>
<% bookmark = current_user.bookmarks.find_by(bookmarkable: bookmarkable) %>

<%= turbo_frame_tag dom_id(bookmarkable) do %>
  <% if bookmark %>
  <div class="bookmarkable-destroy">
    <%= render 'shared/unbookmark', bookmarkable: bookmarkable, bookmark: bookmark %>
  </div>
  <% else %>
  <div class="bookmarkable-add">
    <%= render 'shared/bookmark', bookmarkable: bookmarkable %>
  </div>
  <% end %>
<% end %>

</div>