<div class='ms-auto'>
<% bookmark = current_user.bookmarks.find_by(bookmarkable: bookmarkable) %>

<%= turbo_frame_tag dom_id(bookmarkable) do %>
  <% if bookmark %>
    <%= render 'shared/unbookmark', bookmarkable: bookmarkable, bookmark: bookmark %>
  <% else %>
    <%= render 'shared/bookmark', bookmarkable: bookmarkable %>
  <% end %>
<% end %>

</div>