<span class="d-none d-md-inline">
<%= button_to bookmark_path(bookmark), method: :delete, form: { data: { turbo_frame: dom_id(bookmarkable) } }, class: "btn btn-link p-0" do %>
  <i class="bi bi-star-fill text-dark pe-2 text-decoration-none">お気に入りを解除</i>
<% end %>
</span>

<span class="d-inline d-md-none">
<%= button_to bookmark_path(bookmark), method: :delete, form: { data: { turbo_frame: dom_id(bookmarkable) } }, class: "btn btn-link p-0" do %>
  <i class="bi bi-star-fill text-dark"></i>
<% end %>
</span>
