<div class="wrappre">
  <div class="bg-mainpage">
    <div class="title-section py-5">
      <h1 class='site-logo text-center my-5'>たびログ</h1>
    </div>
    <% if user_signed_in? %>
    <div class="d-none"></div>
    <% else %>
      <%= render 'shared/before_login_session' %>
    <% end %>
  </div>
</div>