<div class="bg-mainpage pt-5">
  <div class="title-section">
    <h1 class='site-logo text-center'>たびログ</h1>
    <h4 class='text-center'>〜未来の旅をここに綴ろう〜</h4>
  </div>
  <% if user_signed_in? %>
  <div class="d-none"></div>
  <% else %>
    <%= render 'shared/before_login_session' %>
  <% end %>
</div>