/* スマホ向けスタイル */
@media screen and (max-width: 767px) {
  .pc {
    display: none;
  }
  .title-section {
    margin-top: 40%;
  }

}

@media screen and (orientation: landscape) and (min-height: 350px) and (Max-width:960px) {
  .title-section, .site-logo {
    margin-top: 0%;
    margin-bottom: 0%;
  }
}
/* tablet向け */
@media screen and (max-width: 1024px) and (orientation: portrait){
  .site-logo {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .title-section {
    margin: 18% 0;
  }
}
/* スマホ以外 */
@media screen and (min-width: 992px)
{
  .site-logo {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .title-section{
    margin: 20%;
  }
}
html
{
  height: 100%;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
body {
  /* min-height: 100vh; */
  position: relative;
  padding-bottom: 120px;
  box-sizing: border-box;
}

/* メインページロゴ */
.site-logo {
  color: #B31667;
  font-family: "Nico Moji";
  font-size: 75px;
}

/* メインページ背景色 */
.bg-mainpage {
  background: linear-gradient(180deg, rgba(9, 9, 121, 1) 0%, rgba(6, 193, 255, 1) 78%, rgba(255, 255, 255, 1) 93%);
  height: 100vh
}

p,a{
  text-decoration:none!important;
}

/* bookmarkボタン */
.bookmarkable-add {
  border: solid 1px #60ee3c;
  background-color: #60ee3c;
}

.bookmarkable-destroy {
  border: solid 1px #ee893c;
  background-color: #ee893c;
}

.bookmarkable-add,
.bookmarkable-destroy {
  padding: 0.2rem;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  text-decoration: none;
}

.registrations .btn,.sessions .btn{
  background: rgba(5, 200, 0, 0.4);
}
.registrations .btn:hover,.sessions .btn:hover {
  background: rgba(222, 112, 2, 0.739);
}
