@media screen and (min-width: 992px) {
  .nav-item, .nav-item_before{
    background: linear-gradient(180deg, rgba(167, 235, 171, 1) 10%, rgba(214, 255, 234, 1) 86%, rgba(241, 255, 219, 1) 100%);
    border-radius: 4mm;
    margin-bottom: 0;
  }
  .nav-item{
    margin-left: 1rem;
  }
  ul{
    padding-left: 0!important;
  }
  .nav-link {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin: 0 12px;
    color: #000000;
    line-height: 1;
  }
  .logout:hover {
    background: rgba(255, 0, 0, 0.6);
  }

  .nav-link p {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 0;
  }
  .nav-link.active{
    background: linear-gradient(180deg, rgba(167, 235, 171, 1) 10%, rgba(214, 255, 234, 1) 86%, rgba(241, 255, 219, 1) 100%);
  }

  header{
    transition: background-color 1s ease-in-out;
  }
  .morning1 {
    background: #26023d;
    background: linear-gradient(180deg, rgba(38, 2, 61, 1) 0%, rgba(124, 42, 135, 1) 58%, rgba(150, 77, 184, 1) 76%, rgba(180, 69, 95, 1) 91%, rgba(163, 27, 0, 1) 100%);
  }

  .morning2 {
    background: #833AB4;
    background: linear-gradient(180deg, rgba(131, 58, 180, 1) 0%, rgba(179, 46, 120, 1) 61%, rgba(222, 36, 68, 1) 76%, rgba(253, 29, 29, 1) 87%);
  }
  .morning3 {
    background: #833AB4;
    background: linear-gradient(180deg, rgba(131, 58, 180, 1) 0%, rgba(179, 46, 120, 1) 29%, rgba(222, 36, 68, 1) 63%, rgba(253, 29, 29, 1) 79%, rgba(252, 176, 69, 1) 96%);
  }
  .day {
    background: linear-gradient(to right, #a1c4fd, #c2e9fb);
  }
  .evening {
    background: linear-gradient(to right, #fbc2eb, #a18cd1);
  }
  .night {
    background: #020024;
    background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 8%, rgba(0, 212, 255, 1) 100%);
  }
}
@media screen and (max-width: 991px) {
  .nav-item p ,.nav-item span{
  color: #fff;
  }
  .morning1 {
    background: #26023d;
    background: linear-gradient(90deg, rgba(38, 2, 61, 1) 0%, rgba(124, 42, 135, 1) 58%, rgba(150, 77, 184, 1) 76%, rgba(180, 69, 95, 1) 91%, rgba(163, 27, 0, 1) 100%);
  }

  .morning2 {
    background: #833AB4;
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(179, 46, 120, 1) 61%, rgba(222, 36, 68, 1) 76%, rgba(253, 29, 29, 1) 87%);
  }

  .morning3 {
    background: #833AB4;
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(179, 46, 120, 1) 29%, rgba(222, 36, 68, 1) 63%, rgba(253, 29, 29, 1) 79%, rgba(252, 176, 69, 1) 96%);
  }
  .day {
    background: linear-gradient(to right, #a1c4fd, #c2e9fb);
  }
  .evening {
    background: linear-gradient(to right, #fbc2eb, #a18cd1);
  }
  .night {
    background: #020024;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 8%, rgba(0, 212, 255, 1) 100%);
  }
}

.part1 a, .part2 a, .part3 a{
  color: rgba(13 110 253 1);;
  font-family: "Nico Moji";
  font-size: 30px;
  text-decoration-line: none
}
.other a{
  color: #B31667 !important;
  font-family: "Nico Moji";
  font-size: 30px;
  text-decoration-line: none
}