/* スマホ向けスタイル */
@media screen and (max-width: 767px) {
}
.weib-font {
  margin: 0 1rem;
}

.card-body {
  border-bottom: dashed
}
.card{
  border-top-left-radius: 0mm!important;
  border-top-right-radius: 0mm !important;
}