/* スマホ向けスタイル */
@media screen and (max-width: 768px) {

.value-box,.ms-3{
  margin-top: 1rem;
}
.align-items-normal{
  align-items: normal;
}
.value-box{
border-bottom: thick double #4d9ee4;
margin-bottom: 16px;
flex-grow: 1;
padding: 6px;

}
.value-box-sp {
  align-items: center;
}
.label-box {
    min-width: 100px;
    text-align: center;
    padding-top: 6px;
    border-radius: 8px;
    flex-shrink: 0;
  }
}
@media screen and (min-width: 769px){
.value-box {
    margin-left: 24px;
    padding: 16px;
    margin-bottom: 0;
    border: 1px solid black;
    min-width: 200px;
    background: #fff;
    flex-grow: 1;
  }
  .label-box {
  min-width: 180px;
  text-align: center;
  background-color: #e76f51;
  padding: 16px;
  border-radius: 8px;
  flex-shrink: 0;
  margin: 0;
  }
}
.accordion-content{
  /* margin-bottom: 1rem; */
  display: flex;
}

details.accordion-box {
  border: 2px dashed black;
  border-radius: 4px;
  transition: all 0.3s ease;
  position: relative;
}

.toggle-indicator {
  font-size: 1.5rem;
  transition: transform 0.2s ease;
}

details[open] summary .toggle-indicator {
  transform: rotate(90deg);
}

summary {
  background-color: hsla(15, 100%, 60%, 0.296);
  cursor: pointer;
  list-style: none;
}

summary::-webkit-details-marker {
  display: none;
}
details[open] summary,.accordion-body{
  background-color: hsl(135, 11%, 93%);
}
